@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');

body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #463f3a;
}

.main {
    box-sizing: border-box;
    background-color: #f4f3ee;
    height: 100vh;
    max-height: 100vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    overflow: hidden;
}

h1 {
    font-weight: 900;
    margin: 0;
    font-size: 2.5rem;
}

.bloco-conteudo {
    box-sizing: border-box;
    height: 380px;
    width: 480px;
    padding: 10px 0px;
}

.botao {
    box-sizing: border-box;
    padding: 5px 20px;
    background: #8a817c;
    border-radius: 3px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.botao:hover {
    background: #bcb8b1;
    transition: 0.5s;
}