.bloco-conteudo {
    width: 430px;
}

.formulario-ocorrencia {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.texto-form {
    font-weight: bold;
}

.texto-mapa{
    margin: 10px 0px;
}

.campo-form {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    height: 35px;
    margin: 0;
}

#hora-ocorrencia, #data-ocorrencia {
    text-align: center;
}

#botao-enviar {
    display: inline-block;
    box-sizing: border-box;
    padding: 5px 20px;
    height: 35px;
    background: #8a817c;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    transition: 0.5s;
    align-self: center;
}

#botao-enviar:hover {
    background: #bcb8b1;
    transition: 0.5s;
}

#map {
    height: 100%;
    width: 60%;
}

#botao-recentralizar {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
    padding: 5px 10px;
}